<!DOCTYPE html>
<html>
	<head>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
		<script type="text/javascript" src="/static/calendar.js"></script>
		<script type="text/javascript" src="/static/utils.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
		<title>Arkisto</title>
	</head>
	<body>
        <main x-data="">
			<nav>
                <a href="/">Pääsivu</a>
			</nav>
			<h3>Arkistoidut oppilaat</h3>
			<div class="list">
				<div x-show="$store.state.archivedStudents.length == 0" class="item">
					Ei arkistoituja opiskelijoita.
				</div>
				<template x-for="student in $store.state.archivedStudents">
					<div class="multi-item-container"
						 x-data="{
								 retrieving: false,
								 scans: null
								 }">
						<div class="item">
							<div>
								<span x-text="student.name"></span>
								- Töitä tehty:
								<span x-text="secondsToHuman(student.done_seconds)"></span>
								- Luotu:
								<span x-text="student.created_at"></span>
							</div>
                            <div class="item-actions">
                                <button class="icon-btn"
                                    title="Näytä logit"
                                    x-on:click="if (scans==null)
                                    scans = await getScans(student.id)
                                    else
                                    scans = null">
                                    Skannaukset
                                </button>
                            </div>
						</div>
						<!-- Scan log -->
						<template x-if="scans != null">
							<div>
								<div class="inline-list"
									 x-data="{
											 filter_start: '',
											 filter_end: '',
											 
											 get filtered_scans() {
											 return scans.filter(
											 x =>
											 (this.filter_start != '' &&
											 this.filter_end != '' &&
											 x.timestamp >= this.filter_start
											 &&
											 x.timestamp <= this.filter_end)
											 ||
											 (this.filter_start != '' &&
											 this.filter_end == '' &&
											 x.timestamp >= this.filter_start)
											 ||
											 (this.filter_end != '' &&
											 this.filter_start == '' &&
											 x.timestamp <= this.filter_end)
											 ||
											 (this.filter_start == '' &&
											 this.filter_end == '')
											 )}
											 }">
                                    <div style="border-bottom: 1px solid var(--border); padding: 10px 15px; position: sticky;"> 
                                        <label for="start_date"> Aloitus päivä:</label>
                                        <input x-model="filter_start" type="date"/>
                                        <label for="start_date"> Lopetus päivä:</label>
                                        <input x-model="filter_end"
                                               type="date"/>
                                    </div>
									<template x-for="scan in filtered_scans">
										<div class="inline-item">
											<span x-text="scan.timestamp">
											</span> - 
											<span x-show="scan.new_status=='IN'">
												Skannattiin sisään
											</span>
											<span x-show="scan.new_status=='OUT'">
												Skannattiin ulos
											</span>
										</div>
									</template>
									<div
										style="padding: 15px;"
										x-show="filtered_scans.length == 0">
										Ei skannauksia
									</div>
								</div>
							</div>
						</template>
					</div>
				</template>
			</div>
		</main>
	</body>
	<script>
		document.addEventListener("alpine:init", async () => {
			Alpine.store("state", {
				archivedStudents: [],

				// Adding (GLOBAL REFERENCE TO LOCAL VARIABLE)
				addingStudent: null,

				async init() {
					this.archivedStudents = await getArchivedStudents()
				},
			});

			const state = Alpine.store("state");

			async function getArchivedStudents() {
				try {
					const response = await fetch(`/api/students/archive`);
					if (!response.ok) {
						const result = await response.json();
						throw new Error(result.error);
					}
					return await response.json();
				} catch (error) {
					toast(capitalizeFirstLetter(error.message));
					console.error(error.message);
				}
			};

			window.getScans = async function(student_id) {
				try {
                    const response = await fetch(`/api/scans/student/${student_id}`);
					if (!response.ok) {
						const result = await response.json();
						throw new Error(result.error);
					}
					return await response.json();
				} catch (error) {
                    toast(capitalizeFirstLetter(error.message))
					console.error(error.message);
				}
			}
		});
	</script>
</html>
